//Sass variables, nesting,modules
@use "_base";

$main-font: Helvetica, sans-serif;
$second-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$main-color: black;
$second-color: rgb(140, 0, 255);
$main-width: 100%;

.header {
  background-color: $second-color;
  position: sticky;
  top: 0px;
  h1 {
    text-align: center;
    color: $main-color;
    font-family: $second-font;
  }
}
.first-place {
  display: flex;
  justify-content: center;
  width: $main-width;
  .image {
    width: $main-width;
    img {
      width: $main-width;
    }
  }
  .about {
    width: $main-width;
    p {
      font-size: 30px;
      color: $second-color;
      text-align: center;
    }
  }
}

// sass modules

.about2 {
  width: $main-width;
  p {
    font-size: base.$main-font-size;
    color: base.$third-color;
    text-align: center;
  }
}
// sass extend
.boxs{
  display:flex;
  justify-content: space-around;
}
%box-style{
border-radius: 50%;
height:200px;
width:200px;
border:1px solid black;
}
.first-box{
  @extend%box-style;
  background-color: aqua;
}
.second-box{
  @extend%box-style;
  background-color: red;
}
.third-box{
  @extend%box-style;
  background-color: green;
}